<!DOCTYPE html>
<html lang="en">
 
<head>
   <meta charset="utf-8">
   <title>River Hills Digital Sign </title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
   <script language="JavaScript">
		
    // ================================================================

   function Delete_All() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
		
      $.ajax({
         url: urladd + '/Delete_All',
         type: 'POST'
      });		
   }

   // ================================================================

   function Set_Cursor() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Set_Cursor',
	 type: 'POST',
         data: $('form').serialize(),
         success: function(response){ console.log(response);
            document.getElementById("returnId").innerHTML = response;
         },
         error: function(error){ console.log(error);
            document.getElementById("returnId").innerHTML = error;
         }
      });
   }

   // ================================================================

   function Set_Text() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Set_Text',
         type: 'POST',
         data: $('form').serialize()
      });
   }


   // ================================================================

   function Set_Brightness() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Set_Brightness',
         type: 'POST',
         data: $('form').serialize()
      });
   }

   // ================================================================

   function Undo() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Undo',
         type: 'POST',
         data: $('form').serialize()
      });
	document.getElementById("Red1").value = 0;
	document.getElementById("Green1").value = 0;
	document.getElementById("Blue1").value = 0;
	document.getElementById("red1OutId").value = 0;
	document.getElementById("green1OutId").value = 0;
	document.getElementById("blue1OutId").value = 0;
   }

   // ================================================================

   function Pixels() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Set_Pixels',
         type: 'POST',
         data: $('form').serialize()
      });
   }

   // ================================================================

   function SavePixels() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/SavePixels',
         type: 'POST'
      });
   }

   // ================================================================

   function Load_SavePixels() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Load_SavePixels',
         type: 'POST',
         success: function(response){ console.log(response);
            document.getElementById("pixels").value = response.substring(1, response.length-1);
//            document.getElementById("returnId").innerHTML = response;
         }
      });
   }

   // ================================================================

   function Test_NightBrightness() {
      var urladd = 'http://' + document.getElementById("ipserver").value ;
      $.ajax({
         url: urladd + '/Test_NightBrightness',
         type: 'POST'
      });
   }

   // ================================================================

   </script>
</head>
 
<body>
   <div class="container">
      <form class="form-cursor"  role="form">
         <h2>River Hills Digital Sign Controller</h2>
         <table>
            <tr>
               <td><input type="checkbox" id="sign1" name="sign_1" checked>Sign 1 </td>
               <td></td>
               <td><input type="checkbox" id="sign2" name="sign_2" checked>Sign 2 </td>
            </tr>
	    <tr>
               <td>X-Y Cursor:</td>
               <td><input type="number" id="xcursor" name="cursorx" class="form-control"  value=0 required autofocus></td>
               <td><input type="number" id="ycursor" name="cursory" class="form-control"  value=0 required autofocus></td>
            </tr>
	    <tr>
               <td><input type="button" value="Text and Size" onclick="Set_Text()" style="font-size:x-medium"></td>
               <td><input type="text" id="signtext" name="sign_text" value="RIVERS" class="form-control"   required autofocus></td>
               <td><input type="number" id="textsize" name="textsize" class="form-control"  value=5 required autofocus></td>
            </tr>
<tr>
<td><input type="radio" name="font" value="Default" checked>Default</td>
<td><input type="radio" name="font" value="FreeSerif9pt7b" >Free Serif</td>
<td><input type="radio" name="font" value="FreeSerifBold9pt7b">Free Serif Bold</td>
<td><input type="radio" name="font" value="FreeMonoBold9pt7b">Free Mono Bold</td>
</tr>
            <tr>
               <td bgcolor="red">Red</td><td>
               <input name=red type="range" min="0" max="180" onchange="Set_Text()" id="Red1" oninput="red1OutId.value = this.value" value="100">
               <output id="red1OutId">100</output></td>
               <td rowspan="3"><input type="button" value="Test Night Brightness (3 sec dim)" onclick="Test_NightBrightness()" style="font-size:x-medium"></td> 
            </tr>

            <tr>
               <td bgcolor="green">Green</td>
               <td><input name="green" type="range" min="0" max="180" onchange="Set_Text()" id="Green1" oninput="green1OutId.value = this.value" value="0">
                   <output id="green1OutId">0</output></td>
            </tr>
            <tr>
               <td bgcolor="Blue">Blue</td>
               <td><input name="blue" type="range" min="0" max="180" onchange="Set_Text()" id="Blue1" oninput="blue1OutId.value = this.value" value="0">
<output id="blue1OutId">0</output></td>
            </tr>
<!--            <tr>
               <td>Brightness</td>
               <td><input name="brightnessDay" type="range" min="0" max="255" onchange="Set_Brightness()" id="BrightDay" oninput="brightId.value = this.value" value="20"> 
<output id="brightId">0</output></td>
            </tr> -->

            <tr>
               <td colspan="2">
                  <textarea type="text" rows="8" cols="35" id="pixels" name="pixels">10,9109504</textarea>
               </td>
               <td><button type="button" onClick=Pixels()>Send Pixels</button></td>
            </tr>
         </table>
      </form>   
   </div>  

<table> <tr>
<td><button type="button" onClick=Delete_All()>Delete All</button></td>
<td>====</td>
<td><button type="button" onClick=Undo()>Undo</button></td>
<!---
<td>====</td>
<td><button type="button" onClick=SavePixels()>Save</button></td>
<td>====</td>
<td><button type="button" onClick=Load_SavePixels()>Load Last Saved</button></td>
--->
</tr>
</table>
<input type="text" id="ipserver" name="ip_text" value="192.168.0.44:5000">
<div id="returnId"> </div>

</body>
 
</html>
